.main-container{
    background-color: rgb(253, 253, 253);
    padding-bottom: 30px;
    height: fit-content;
}

.img-con{
    height: fit-content;
}
.caption-box{
    width: 100%;
    /* min-height: 50vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
textarea{
    margin-top: 20px;
    width: 500px;
    height: 100px;
    background-color: rgb(219, 226, 224);
    font-size: larger;
    color: brown;
    padding: 20px;
    border-radius: 10px;
    resize: none;
    margin-bottom: 30px;
}
.row{
    display: flex;
    width: 500px;
    background-color: aqua;
    
    align-items: center;
    gap: 20px;
}
input[type=file]::file-selector-button {
    margin-right: 20px;
    border: none;
    background: #084cdf;
    padding: 10px 20px;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    transition: background .2s ease-in-out;
  }
  
  input[type=file]::file-selector-button:hover {
    background: #0d45a5;
  }

  .chosen-img img{
    margin-top: 20px;
    width: 100px;
    height: 100px;
    border: 1px solid;
    object-fit: contain;
  }
  .demo-img img{
    margin-top: 20px;
    width: 50%;
    height:fit-content;
    border: 1px solid;
  }

.btn{
    /* width: 150px; */
    height: 50px;
    margin-top: 20px;
    background-color: rgb(216, 129, 71);
    font-size: larger;
}
.details{
    display: flex;
    /* border: 1px solid; */
    justify-content: space-around;
}
.deta{
    width: 30%; 
}
.bar{
    display: flex;
    justify-content: center;
}
hr{
    color: #0d45a5;
    font-size: larger;
}