.mul-container{
    display: block;
    min-height: 80vh;  
}
.video-container video{
    padding-top: 10px;
    width: 35%;
    height: fit-content;
    object-fit: contain;
}
.download-btn{
    /* width: 150px; */
    /* color: aliceblue; */
    height: 50px;
    margin-top: 20px;
    margin-bottom: 20px;
    background-color: rgb(216, 129, 71);
    font-size: larger;
}